@import url("https://fonts.googleapis.com/css?family=Oswald:500");
* {
  text-decoration: none; }

.lista {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .lista h1 {
    color: aqua;
    font-size: 30px;
    text-align: center; }

.navegacion {
  width: 100%;
  display: flex;
  justify-content: center; }

.descripcion {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  margin-right: 1000px; }

.mejor {
  margin-left: 502px;
  margin-bottom: 30px;
  font-size: 0.9rem;
  color: aqua; }

@media screen and (max-width: 450px) {
  .mejor {
    margin: 0;
    margin-top: 27px; } }

@media screen and (max-width: 450px) {
  .navegacion {
    padding: 3px;
    width: 100%; } }

.nav_res {
  padding: 2px; }

@media screen and (max-width: 450px) {
  .text-item {
    font-size: 14px; }
  .barra {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    margin-top: 50px;
    padding: 0px; } }

.container-fluid {
  justify-content: center;
  display: flex; }

@media screen and (min-width: 800px) {
  .barra {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin-top: 50px; } }

a {
  text-decoration: none; }

#nav-btn {
  cursor: pointer;
  height: 56px;
  opacity: 0;
  position: absolute;
  right: 0;
  width: 56px;
  z-index: 100; }

#nav-btn + label {
  display: block;
  height: 4px;
  height: 56px;
  left: 18px;
  position: absolute;
  right: 18px;
  top: 44px;
  width: 56px; }

#nav-btn + span {
  background-color: #ccc;
  cursor: pointer;
  display: block;
  height: 4px;
  position: absolute;
  right: 20px;
  top: 44px;
  width: 56px;
  z-index: 99; }

#nav-btn + span::before,
#nav-btn + span::after {
  background-color: #ccc;
  content: "";
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  width: 56px; }

#nav-btn + span::before {
  top: -20px; }

#nav-btn + span::after {
  bottom: -20px; }

#nav-btn:checked + span {
  background-color: #F5060A; }

#nav-btn + span::before,
#nav-btn + span::after {
  transition-delay: 0.3s, 0s;
  transition-duration: 0.3s, 0.3s; }

#nav-btn + span::before {
  transition-property: top, transform; }

#nav-btn + span::after {
  transition-property: bottom, transform; }

#nav-btn:checked + span {
  background: none; }

#nav-btn:checked + span::before {
  top: 0;
  transform: rotate(45deg); }

#nav-btn:checked + span::after {
  bottom: 0;
  transform: rotate(-45deg); }

#nav-btn:checked + span::before,
#nav-btn:checked + span::after {
  transition-delay: 0s, 0.3s; }

#nav-btn:checked ~ nav {
  left: 0px;
  opacity: 100;
  position: fixed;
  visibility: 1;
  z-index: 98; }

#nav-btn:checked ~ nav ul {
  transform: translate(-50%, -50%); }

nav {
  background: rgba(52, 82, 113, 0.98) none repeat scroll 0% 0%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 0.5s ease 0s, visibility 0s ease 0.5s;
  visibility: 0;
  width: 100%;
  z-index: -1; }

nav ul {
  left: 50%;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0%);
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out; }

nav li {
  font-size: 30px;
  list-style: none;
  padding-bottom: 10px;
  text-align: center; }

nav ul li a:hover {
  color: #fff; }

nav li a {
  color: #ccc;
  text-decoration: none; }

.titulo {
  color: white;
  margin-top: 20px;
  Font-family: Copperplate, Copperplate Gothic Light, fantasy;
  width: 20px; }

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%; } }

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative; }

.container2 {
  display: flex;
  justify-content: center; }

.fot2 {
  color: #f8f9fa;
  border-color: #f8f9fa;
  padding: 5px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

.fot3 {
  margin-bottom: 20px;
  color: white; }

@media (max-width: 500px) {
  .fot3 {
    font-size: 12px; } }

.borde {
  color: #f8f9fa;
  border-color: #f8f9fa; }

.extendinput, input[type='text'], [type='email'], select, textarea {
  background: none;
  border: none;
  font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

input {
  line-height: normal; }

form {
  padding: 37.5px;
  margin: 50px 0; }

textarea {
  overflow: auto; }

.email {
  float: right;
  width: 45%; }

input[type='text'] {
  color: azure; }

[type='email'] {
  color: aliceblue; }

select {
  color: #F2F3EB; }

textarea {
  color: 233; }

button {
  color: #5A5A5A;
  font: inherit;
  margin: 0; }

input {
  color: #5A5A5A;
  font: inherit;
  margin: 0; }

select {
  color: #5A5A5A;
  font: inherit;
  margin: 0; }

textarea {
  color: white;
  font: inherit;
  margin: 0; }

input[type='text']:focus {
  outline: none;
  padding: 0 0 0.875em 0; }

[type='email']:focus {
  outline: none;
  padding: 0 0 0.875em 0; }

textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0; }

.message {
  float: none; }

select {
  background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png") no-repeat right;
  color: yellow;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }

.name {
  float: left;
  width: 45%;
  color: yellow; }

.subject {
  width: 100%; }

.telephone {
  width: 100%; }

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%; }

:-webkit-input-placeholder {
  color: #474544; }

:-moz-placeholder {
  color: #474544;
  opacity: 1; }

::-moz-placeholder {
  color: #474544;
  opacity: 1; }

:-ms-input-placeholder {
  color: #474544; }

#form_button {
  background: none;
  border: solid 2px white;
  color: aqua;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 15px; }
  #form_button:hover {
    background: black;
    color: yellow; }

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px; }
  .underline {
    width: 68px; }
  #form_button {
    padding: 15px 25px; } }

.formcontact {
  font-family: Times New Roman, Times, Garamond, Georgia, Cambria; }

.submit {
  display: flex;
  justify-content: center; }

#name_input::placeholder {
  color: yellow; }

#email_input::placeholder {
  color: yellow; }

#telephone_input::placeholder {
  color: yellow; }

#message_input::placeholder {
  color: yellow; }

button, select {
  text-transform: none; }

#contact_form {
  margin: 0;
  background-image: linear-gradient(to bottom, #590c6f, #630f7a, #6c1386, #761691, #801a9d); }

.input3 {
  border-bottom: solid 2px yellow; }

.selector {
  margin-top: 20px; }

.flip-container {
  width: 300px;
  height: 300px;
  background-color: transparent;
  perspective: 1000px;
  margin: 4px; }
  .flip-container:hover .card2 {
    transform: rotateY(180deg); }

.card2 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
  align-items: center;
  color: aqua; }
  .card2 h3 {
    display: flex;
    align-items: center; }
  .card2 p {
    color: aqua; }

card p {
  display: flex;
  align-items: center; }

.dorso {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  justify-content: center;
  font-size: 2rem;
  background-image: linear-gradient(to bottom, #590c6f, #630f7a, #6c1386, #761691, #801a9d);
  color: aqua;
  transform: rotateY(180deg);
  display: flex;
  align-items: center; }
  .dorso p {
    font-size: 0.65em; }

.cardacerca {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  align-items: center; }

.img-fluid img {
  max-width: 84%;
  margin: auto;
  padding: 0.5rem;
  height: 55%; }

.acercade1 {
  background-image: linear-gradient(to bottom, #590c6f, #630f7a, #6c1386, #761691, #801a9d);
  font-family: Times New Roman, Times, Garamond, Georgia, Cambria;
  color: aqua; }

.tacerca {
  color: yellow; }

.sacerca {
  color: yellow; }

button {
  overflow: visible; }

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase; }

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px; }

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%; }

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px; }

@media screen and (max-width: 450px) {
  h1 {
    font-size: 18px; }
  .icon {
    height: 35px;
    width: 35px; }
  .underline {
    width: 53px; }
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em; } }

.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.input2 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
  border-bottom: 2px solid black; }

.form3 {
  background-image: linear-gradient(to bottom, #590c6f, #630f7a, #6c1386, #761691, #801a9d);
  width: 500px;
  height: 600px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2); }

.title2 {
  font-size: 50px;
  margin-bottom: 50px;
  color: aqua; }

.inputContainer {
  position: relative;
  height: 64px;
  width: 90%;
  margin-bottom: 17px; }

.label2 {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-image: linear-gradient(to bottom, #590c6f, #630f7a, #6c1386, #761691, #801a9d);
  color: aqua;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0; }

.input2:focus {
  border: 2px solid black; }
  .input2:focus + .label2 {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: black; }

.input2:not(:placeholder-shown) + .label2 {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600; }

.signupFrm {
  background-color: none; }

.input-group-text {
  height: 38px;
  background-image: linear-gradient(to bottom, #653882, #5f347b, #593073, #532d6c, #4d2965);
  color: white; }

.container-fluid {
  display: flex;
  justify-content: space-between; }

@media screen and (max-width: 450px) {
  .carousel-item {
    height: 210px; }
  .nav-item {
    padding: 0;
    padding-left: 0;
    padding-top: 0; }
  .nav-link {
    padding: 0;
    margin: 0px 6px;
    font-size: 13px; }
  .nav a {
    margin: 0px 6px;
    font-size: 13px; }
  .container-fluid {
    padding-right: 0;
    padding-left: 0; }
  .cartas {
    display: flex;
    flex-direction: column; }
  #contenedorCartas {
    display: flex;
    flex-direction: column; }
  .mb-5 {
    margin-bottom: 3.5rem !important; }
  .card {
    margin: 0;
    margin-bottom: 1rem; }
  .compraboost2 {
    width: 95%;
    margin: 3rem auto; }
  .img-fluid img {
    max-width: 50%;
    margin: auto;
    padding: 0.5rem;
    height: auto; }
  .cardacerca {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center; }
  .flip-container {
    margin-top: 1rem; }
  #contact_form {
    margin-top: 24px; } }

.pagContacto {
  margin-bottom: 3rem; }

.fondocontacto {
  --bs-gutter-x: 0rem; }

.name {
  width: 52%; }

.form3 {
  width: 100%; }

.label2 {
  border-bottom: solid 2px yellow; }

.compraboost2 {
  width: 95%;
  margin: 3rem auto;
  background-image: linear-gradient(to bottom, #590c6f, #630f7a, #6c1386, #761691, #801a9d);
  color: aqua; }

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: aqua;
  color: yellow;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px; }
  .submitBtn:hover {
    background-color: black;
    transform: translateY(-2px); }

body {
  /* background-image: linear-gradient(to bottom, #c49393, #ba8c8c, #b08484, #a77d7d, #9d7676);*/
  background-image: linear-gradient(to bottom, #c49393, #ba8c8c, #b08484, #a77d7d, #9d7676);
  text-decoration: none; }

html {
  font-family: Times New Roman, Times, Garamond, Georgia, Cambria;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(to bottom, #141d2a, #151c26, #161a22, #17191e, #17181a); }

.carousel-item {
  margin-top: 50px;
  height: 600px; }

.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
  border: none; }
  .card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }

.index1 {
  background-image: linear-gradient(to bottom, #590c6f, #630f7a, #6c1386, #761691, #801a9d);
  color: white; }

@media screen and (max-width: 450px) {
  .carousel-item {
    height: 210px; } }

#contenedorCartas {
  display: flex; }

.mb-5 {
  margin-bottom: 3.5rem !important; }

.card {
  margin: 6px;
  margin-bottom: 1rem; }

.container-card {
  width: 100%;
  display: flex;
  max-width: 1100px;
  margin: auto; }

.title-cards {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #7a7a7a; }

.img-fluid {
  display: flex;
  align-items: center; }

.cartas {
  display: flex;
  flex-direction: column; }

.collapse {
  display: flex;
  justify-content: space-around; }

.card-title {
  color: yellow; }

.card-text {
  color: aqua; }

.gridcontacto {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template: "header" auto "main"   100px "footer" auto / auto; }

.header {
  grid-area: header; }

.main {
  grid-area: main;
  margin: 30px;
  margin-top: 80px; }

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center; }

.frente {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  justify-content: center;
  font-size: 2rem;
  background-image: linear-gradient(to bottom, #590c6f, #630f7a, #6c1386, #761691, #801a9d);
  color: aqua;
  display: flex; }
