$bgcolorfondocontacto: linear-gradient(to bottom, #b91135, #b91135, #b91135, #b91135, #b91135);
$bgcolorfondoacercade: linear-gradient(to bottom, #a43a5c, #a44463, #a44e69, #a45770, #a46076);
$bgcolorfondoingresar: lightgray;
$fondocompraboost: linear-gradient(to top, #b94242, #ae3d3d, #a33838, #983434, #8d2f2f);