$bgcolorfondocontacto: linear-gradient(to bottom, #590c6f, #630f7a, #6c1386, #761691, #801a9d);
$bgcolorfondoacercade: linear-gradient(to bottom, #a43a5c, #a44463, #a44e69, #a45770, #a46076);
$bgcolorfondoingresar: linear-gradient(to bottom, #590c6f, #630f7a, #6c1386, #761691, #801a9d);
$fondocompraboost: linear-gradient(to top, #b94242, #ae3d3d, #a33838, #983434, #8d2f2f);