@mixin altoancho($width, $height){
    width: $width;
    height: $height;
}



.flip-container {
	@include altoancho(300px, 300px);
	background-color: transparent;
	perspective: 1000px;
	margin: 4px;
	&:hover {
		.card2 {
			transform: rotateY(180deg);
		}
	}
}
.card2 {
	@include altoancho(100%, 100%);
	position: relative;
	display: flex;
	text-align: center;
	transform-style: preserve-3d;
	transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
	align-items: center;
	color: aqua;
	h3 {
		display: flex;
		align-items: center;
	}
	p {
		color: aqua;
	}
}
card {
	p {
		display: flex;
		align-items: center;
	}
}

.dorso {
	@include altoancho(100%, 100%);
	position: absolute;
	backface-visibility: hidden;
	justify-content: center;
	font-size: 2rem;
	background-image: linear-gradient(to bottom, #590c6f, #630f7a, #6c1386, #761691, #801a9d);
	color: aqua;
	transform: rotateY(180deg);
	display: flex;
	align-items: center;
	p {
		font-size: 0.65em;
	}
}
.cardacerca {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	flex-direction: row;
	margin: 0 auto;
	align-items: center;
} 

.img-fluid img {
    max-width: 84%;
    margin: auto;
    padding: 0.5rem;
    height: 55%;
}
.acercade1 {
	background-image: linear-gradient(to bottom, #590c6f, #630f7a, #6c1386, #761691, #801a9d);
	font-family: Times New Roman, Times, Garamond, Georgia, Cambria;
	color: aqua;
}

.tacerca{
	color: yellow;
}
.sacerca{
	color: yellow;
}