
  body{
    /* background-image: linear-gradient(to bottom, #c49393, #ba8c8c, #b08484, #a77d7d, #9d7676);*/
    background-image: linear-gradient(to bottom, #c49393, #ba8c8c, #b08484, #a77d7d, #9d7676);
 }

 html {
    font-family: Times New Roman, Times, Garamond, Georgia, Cambria;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  